<script src="/plugins/stress-test-center/resource/spin.min.js" type="text/javascript"></script>
<script src="/plugins/stress-test-center/resource/angular.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var app = angular.module("StressTestCenter", []);
</script>
<script src="/plugins/stress-test-center/resource/js/helpers.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/public/styles/1.0.0/typography.css"/>
<link rel="stylesheet" href="/static/public/styles/1.0.0/fonts.css"/>

<body ng-app = "StressTestCenter"
      ng-controller = "VizController"
      class="report-box"
      ng-click="$broadcast('closeDropdowns', $event.target)"
      ng-keyup="$broadcast('closeDropdowns')"
      tabindex="0">
    <div ng-if="modal.type"
         class="modal-background"
         tabindex="0"
         ng-keyup="$event.keyCode == 27 && removeModal()"
         ng-click="removeModal($event)">
    </div>

    <div class="webapp-main">
        <div class="webapp-section webapp-section__settings">
            <div class="webapp__subsection">
                <div class="grand-title-b flex settings-section__header">
                    Stress tests
                    <help-icon class="small-title-b" help-text="Select the tests corresponding to corruptions you expect to have at deployment time, and assess the robustness of your model"></help-icon>
                </div>
                <form name="form.SAMPLES" class="settings-subsection__form">
                    <div class="control-group settings-subsection__form_field">
                        <label for="samples" class="label-text">Samples for perturbation tests</label>
                        <input type="number" id="samples" ng-model="tests.samples" step="0.1" min="0.1" max="100" required>
                        <div class="text-tiny">
                            Set the percentage of rows to be used for the selected stress tests
                        </div>
                    </div>
                </form>
                <div class="dku-btn-container--right-align">
                    <button class="dku-btn dku-btn-primary"
                            type="button"
                            ng-disabled="loading.results || !checkTestConfig().canRun"
                            ng-click="runAnalysis()">
                        Run tests
                    </button>
                </div>
            </div>

            <div ng-if="loading.modelInfo" class="webapp__subsection spinner-div">
                <spinner></spinner>
            </div>

            <div ng-if="!loading.modelInfo && tests.perturbations.PRIOR_SHIFT" class="webapp__subsection">
                <div class="flex small-title-b settings-subsection__header">
                    <label class="flex" ng-class="{'text-lighter': !tests.perturbations.PRIOR_SHIFT.$activated}">
                        <label class="switch">
                            <input type="checkbox" ng-model="tests.perturbations.PRIOR_SHIFT.$activated">
                            <div class="slider round"></div>
                        </label>
                        {{ tests.perturbations.PRIOR_SHIFT.displayName }}
                    </label>
                    <help-icon help-text="Modifies the target distribution by resampling"></help-icon>
                </div>
                <form name="form.PRIOR_SHIFT" class="settings-subsection__form" ng-show="tests.perturbations.PRIOR_SHIFT.$activated">
                    <div custom-dropdown
                         form="form.PRIOR_SHIFT"
                         possible-values="modelInfo.targetClasses"
                         item="tests.perturbations.PRIOR_SHIFT.params.cl"
                         item-name="class"
                         label="Affected class"
                         class="settings-subsection__form_field">
                    </div>
                    <div class="control-group settings-subsection__form_field">
                        <label for="priorShift" class="label-text">Proportion of samples with affected class</label>
                        <input type="number" id="priorShift"
                               ng-model="tests.perturbations.PRIOR_SHIFT.params.samples_fraction"
                               placeholder="0.5" step="0.01" min="0" max="1" required>
                    </div>
                </form>
            </div>

            <div ng-if="!loading.modelInfo" class="webapp__subsection">
                <div class="flex small-title-b settings-subsection__header">
                    <label class="flex" ng-class="{'text-lighter': !tests.perturbations.MISSING_VALUES.$activated}">
                        <label class="switch">
                            <input type="checkbox" ng-model="tests.perturbations.MISSING_VALUES.$activated">
                            <div class="slider round"></div>
                        </label>
                        {{ tests.perturbations.MISSING_VALUES.displayName }}
                    </label>
                    <help-icon help-text="Randomly inserts missing values"></help-icon>
                </div>
                <form name="form.MISSING_VALUES" class="settings-subsection__form" ng-show="tests.perturbations.MISSING_VALUES.$activated">
                    <div custom-dropdown
                         form="form.MISSING_VALUES"
                         possible-values="tests.perturbations.MISSING_VALUES.availableColumns"
                         items="tests.perturbations.MISSING_VALUES.selected_features"
                         item-name="feature"
                         item-image="featureToTypeIcon"
                         label="Affected features"
                         class="settings-subsection__form_field">
                    </div>
                    <div class="control-group settings-subsection__form_field">
                        <label for="missingValues" class="label-text">Proportion of affected samples</label>
                        <input type="number" id="missingValues"
                               ng-model="tests.perturbations.MISSING_VALUES.params.samples_fraction"
                               placeholder="0.5" step="0.01" min="0.01" max="1" required>
                    </div>
                </form>
            </div>

            <div ng-if="!loading.modelInfo" class="webapp__subsection">
                <div class="flex small-title-b settings-subsection__header">
                    <label class="flex" ng-class="{'text-lighter': !tests.perturbations.SCALING.$activated}">
                        <label class="switch">
                            <input type="checkbox" ng-model="tests.perturbations.SCALING.$activated">
                            <div class="slider round"></div>
                        </label>
                        {{ tests.perturbations.SCALING.displayName }}
                    </label>
                    <help-icon help-text="Changes the order of magnitude of each feature by some random scaling"></help-icon>
                </div>
                <form name="form.SCALING" class="settings-subsection__form" ng-show="tests.perturbations.SCALING.$activated">
                    <div custom-dropdown
                         form="form.SCALING"
                         possible-values="tests.perturbations.SCALING.availableColumns"
                         items="tests.perturbations.SCALING.selected_features"
                         item-name="feature"
                         item-image="featureToTypeIcon"
                         label="Affected features"
                         class="settings-subsection__form_field">
                    </div>
                    <div class="control-group settings-subsection__form_field">
                        <label for="scaling" class="label-text">Proportion of affected samples</label>
                        <input type="number" id="scaling"
                               ng-model="tests.perturbations.SCALING.params.samples_fraction"
                               placeholder="0.5" step="0.01" min="0" max="1" required>
                    </div>
                </form>
            </div>
        </div>

        <div class="webapp-section webapp-section__results">
            <div class="empty-state" ng-if="!results && !loading.results">
                <div class="empty-state__title">
                    Put your model through a battery of tests to see how it handles the unexpected
                </div>
                <div class="empty-state__subtitle">
                    Select the tests corresponding to corruptions you expect to have at deployment time, and assess the robustness of your model.
                </div>
                <div>
                    <button class="dku-btn dku-btn-primary"
                            type="button"
                            ng-disabled="!checkTestConfig().canRun"
                            ng-click="runAnalysis()">
                        Run tests
                    </button>
                </div>
            </div>

            <div class="spinner-div" ng-if="loading.results">
                <spinner></spinner>
            </div>

            <div ng-if="results && !loading.results">
                <div class="webapp__subsection" ng-if="results.SUBPOPULATION_PERTURBATION">
                    <div class="grand-title-b results-subsection__header">
                        Subpopulation shift perturbations
                    </div>
                    <div class="results__subsection">
                        <div class="small-title-b">
                            Metrics
                        </div>
                        <table class="table-metric">
                            <thead>
                                <tr>
                                    <th scope="col" class="fake-cell"></th>
                                    <th scope="col" class="cell small-title-b top-cell--blue">Performance</th>
                                    <th scope="col" class="cell small-title-b top-cell--orange">Robustness</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="metric in results.SUBPOPULATION_PERTURBATION.metrics">
                                    <td class="cell text-highlight">{{ tests.perturbations[metric['attack_type']].displayName }}</td>
                                    <td class="cell text-sb">{{ metric['accuracy_drop'] * 100 | toFixedIfNeeded: 3 }}%</td>
                                    <td class="cell text-sb">{{ metric['robustness'] * 100 | toFixedIfNeeded: 3 }}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="webapp__subsection" ng-if="results.SAMPLE_PERTURBATION">
                    <div class="grand-title-b results-subsection__header">
                        Sample perturbations
                    </div>
                    <div class="results__subsection">
                        <div class="small-title-b">
                            Metrics
                        </div>
                        <table class="table-metric">
                            <thead>
                                <tr>
                                    <th scope="col" class="fake-cell"></th>
                                    <th scope="col" class="cell small-title-b top-cell--blue">Performance</th>
                                    <th scope="col" class="cell small-title-b top-cell--orange">Robustness</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="metric in results.SAMPLE_PERTURBATION.metrics">
                                    <td class="cell text-highlight">{{ tests.perturbations[metric['attack_type']].displayName }}</td>
                                    <td class="cell text-sb">{{ metric['accuracy_drop'] * 100 | toFixedIfNeeded: 3 }}%</td>
                                    <td class="cell text-sb">{{ metric['robustness'] * 100 | toFixedIfNeeded: 3 }}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="results__subsection">
                        <div class="small-title-b">
                            Critical samples
                        </div>
                        <p class="text-lighter">
                            The critical samples are the most sensitive to perturbations. They highlight where the model predictions are highly uncertain (presenting large confidence fluctuations).
                        </p>
                        <div class="flex dku-grid">
                            <div ng-repeat="sample in results.SAMPLE_PERTURBATION.critical_samples.samples">
                                <table class="table-sample table-striped">
                                    <thead>
                                        <tr>
                                            <th class="top-cell--blue small-title-b">
                                                <div class="flex top-cell__row">
                                                    <div>{{ results.SAMPLE_PERTURBATION.critical_samples.uncertainties[$index] }}</div>
                                                    <div>0.63</div>
                                                </div>
                                                <div class="flex top-cell__row">
                                                    <div class="text-lighter">Uncertainty score</div>
                                                    <div class="text-lighter">Probability</div>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key, value) in sample">
                                        <td>
                                            {{key}}
                                            <span class="text-lighter">= {{value}}</span>
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


