<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<script type="text/javascript">
    var app = angular.module("stressTestCenter", []);
</script>
<script src="/plugins/stress-test-center/resource/js/helpers.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/public/styles/1.0.0/dku-styles.css"/>
<link rel="stylesheet" href="/plugins/model-fairness-report/webapps/stress-test-center-view/style.css" />

<body  ng-app = "stressTestCenter" ng-controller = "vizController" class="report-box">

<div class="container-fluid">
    <div class="row">
        <div class="col grand-title-sb">
            Stress tests
        </div>
        <div class="col" style="display: inline;">
            <button class="dku-btn dku-btn-primary float-right" id="run-button" type="button" ng-click="runAnalysis()" style="color: #FFFFFF;">COMPUTE</button>
            <span class="running-state" style="display: none;">Computing ...</span>
        </div>
    </div>
</div>

<br>

<div class="container-fluid border-top border-bottom">
    <div class="row">
        <div class="col-3 border-right">
            <div class="row border-bottom" ng-class="{'highlight-div': highlightPS, 'unhighlight-div': !highlightPS}">
                <div class="col-8 text-sb my-auto" ng-class="{'normalText': activatePS, 'grayoutText': !activatePS }">
                    Prior shift
                </div>
                <div class="col-4">
                    <label class="switch float-right">
                        <input type="checkbox" ng-model="priorShiftActive" ng-click="activateBoxPS()">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>

            <div class="row border-bottom" ng-class="{'highlight-div': highlightAA, 'unhighlight-div': !highlightAA}">
                <div class="col-8 text-sb my-auto" ng-class="{'normalText': activateAA, 'grayoutText': !activateAA }">
                    Adversarial attach
                </div>
                <div class="col-4">
                    <label class="switch float-right">
                        <input type="checkbox" ng-model="aaActive" ng-click="activateBoxAA()">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>

            <div class="row border-bottom" ng-class="{'highlight-div': highlightMV, 'unhighlight-div': !highlightMV}">
                <div class="col-8 text-sb my-auto" ng-class="{'normalText': activateMV, 'grayoutText': !activateMV}">
                    Missing values
                </div>
                <div class="col-4">
                    <label class="switch float-right">
                        <input type="checkbox" ng-model="mvActive" ng-click="activateBoxMV()">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>

            <div class="row border-bottom" ng-class="{'highlight-div': highlightS, 'unhighlight-div': !highlightS}">
                <div class="col-8 text-sb my-auto" ng-class="{'normalText': activateS, 'grayoutText': !activateS }">
                    Scaling
                </div>
                <div class="col-4">
                    <label class="switch float-right">
                        <input type="checkbox" ng-model="sActive" ng-click="activateBoxS()">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>

            <div class="row border-bottom" ng-class="{'highlight-div': highlightT1, 'unhighlight-div': !highlightT1}">
                <div class="col-8 text-sb my-auto" ng-class="{'normalText': activateT1, 'grayoutText': !activateT1 }">
                    Text attack type 1
                </div>
                <div class="col-4">
                    <label class="switch float-right">
                        <input type="checkbox" ng-model="t1Active" ng-click="activateBoxT1()">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>

            <div class="row" ng-class="{'highlight-div': highlightT2, 'unhighlight-div': !highlightT2}">
                <div class="col-8 text-sb my-auto" ng-class="{'normalText': activateT2, 'grayoutText': !activateT2 }">
                    Text attack type 2
                </div>
                <div class="col-4">
                    <label class="switch float-right">
                        <input type="checkbox" ng-model="t2Active" ng-click="activateBoxT2()">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>

        </div>

        <div class="col" ng-show="highlightPS">
            <div class="explanation-box" style="margin-left:-10px; margin-right:-10px; margin-top:8px;">
                <div class="row title-sb" style="color: #31708f; margin-left:-8px; padding-bottom:8px">
                    Prior Shift Perturbation
                </div>
                <div class="row text-r" style="color: #31708f; margin-left:-8px">
                    Prior shift is blablabla
                </div>
            </div>
            <div class="row">
                <label for="paramPS" class="col-6 col-form-label text">
                    Fraction of samples of one class to kick out
                </label>
                <div class="col-6 control-group">
                    <input type="number" id="paramPS"  ng-model="paramPS" placeholder=0.5 step=0.01 min=0>
                </div>
            </div>
        </div>

        <div class="col" ng-show="highlightAA">
            <div class="explanation-box" style="margin-left:-10px; margin-right:-10px; margin-top:8px;">
                <div class="row title-sb" style="color: #31708f; margin-left:-8px; padding-bottom:8px">
                    Adversarial Attack
                </div>
                <div class="row text-r" style="color: #31708f; margin-left:-8px">
                    Adversarial attack is blablabla
                </div>
            </div>
            <div class="row">
                <label for="paramAA" class="col-6 col-form-label text">
                    Fraction of samples of one class to do adversarial attack
                </label>
                <div class="col-6 control-group">
                    <input type="number" id="paramAA" ng-model="paramAA" placeholder=0.5 step=0.01 min=0>
                </div>
            </div>
        </div>


        <div class="col" ng-show="highlightMV">
            <div class="explanation-box" style="margin-left:-10px; margin-right:-10px; margin-top:8px;">
                <div class="row title-sb" style="color: #31708f; margin-left:-8px; padding-bottom:8px">
                    Missing values
                </div>
                <div class="row text-r" style="color: #31708f; margin-left:-8px">
                    Missing values are blablabla
                </div>
            </div>

            <div class="row">
                <label for="paramMV" class="col-6 col-form-label text">
                    Fraction of samples of one class to remove
                </label>
                <div class="col-6 control-group">
                    <input type="number" id="paramMV" ng-model="paramMV" placeholder=0.5 step=0.01 min=0>
                </div>
            </div>
        </div>

        <div class="col" ng-show="highlightS">
            <div class="explanation-box" style="margin-left:-10px; margin-right:-10px; margin-top:8px;">
                <div class="row title-sb" style="color: #31708f; margin-left:-8px; padding-bottom:8px">
                    Scaling
                </div>
                <div class="row text-r" style="color: #31708f; margin-left:-8px">
                    Scaling (or Out of distribution) is blablabla
                </div>
            </div>
            <div class="row">
                <label for="paramS" class="col-6 col-form-label text">
                    Fraction of samples of one class to scale
                </label>
                <div class="col-6 control-group">
                    <input type="number" id="paramS" ng-model="paramS" placeholder=0.5 step=0.01 min=0>
                </div>
            </div>
        </div>

        <div class="col" ng-show="highlightT1">
            <div class="explanation-box" style="margin-left:-10px; margin-right:-10px; margin-top:8px;">
                <div class="row title-sb" style="color: #31708f; margin-left:-8px; padding-bottom:8px">
                    Text attack type 1
                </div>
                <div class="row text-r" style="color: #31708f; margin-left:-8px">
                    Text attack type 1
                </div>
            </div>
            <div class="row">
                <label for="paramT1" class="col-6 col-form-label text">
                    Fraction of samples
                </label>
                <div class="col-6 control-group">
                    <input type="number" id="paramT1" ng-model="paramT1" placeholder=0.5 step=0.01 min=0>
                </div>
            </div>
        </div>

        <div class="col" ng-show="highlightT2">
            <div class="explanation-box" style="margin-left:-10px; margin-right:-10px; margin-top:8px;">
                <div class="row title-sb" style="color: #31708f; margin-left:-8px; padding-bottom:8px">
                    Text attack type 2
                </div>
                <div class="row text-r" style="color: #31708f; margin-left:-8px">
                    Text attack type 2
                </div>
            </div>
            <div class="row">
                <label for="paramT2" class="col-6 col-form-label text">
                    Fraction of samples
                </label>
                <div class="col-6 control-group">
                    <input type="number" id="paramT2" ng-model="paramT2" placeholder=0.5 step=0.01 min=0>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="landing-page" style="padding-top:16px; padding-bottom:16px ">
            </br> </br> </br>
            <div class="ultralarge-title-sb">
                Stress Test Center
            </div>
            <div class="grand-title-r">
                Put your model through a battery of tests and see how it handles the unexpected
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="container-fluid">
    <div class="row grand-title-sb" style="padding-left:12px">
        Performance metrics
    </div>
    <hr>
    <div class="row">
        <table class="table table-metric" >
            <thead>
            <tr>
              <th scope="col" style="border-bottom: 1px rgba(34, 34, 34, 0.15); border-top: hidden; border-left:hidden; background-color:transparent;"></th>
              <th scope="col" class="small-title-sb border-left border-right border-bottom" style="border-top: 4px solid #6999C3; text-align: center; vertical-align: middle; background-color:transparent;">Performance Drop</th>
              <th scope="col" class="small-title-sb border-right border-bottom" style="border-top: 4px solid #F3A268; text-align: center; vertical-align: middle; background-color:transparent;">Attack Success Rate</th>
            </tr>
            </thead>
          <tbody>
            <tr ng-repeat="metric in metrics">
                <td class="border text-highlight">{{metric['attack_type']}}</td>
                <td class="border text-sb" style="text-align: center; vertical-align: middle;">{{metric['accuracy_drop']}}%</td>
                <td class="border text-sb" style="text-align: center; vertical-align: middle;">{{metric['robustness']}}%</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>

<br><br>

<div class="container-fluid">
    <div class="row grand-title-sb"  style="padding-left:12px;">
        Critical samples
    </div>
    <hr>

    <div class="row dku-grid">
        <div class="col-sm-6" style="padding-left: 0px; padding-top: 0px;" ng-repeat="sample in critical_samples">
            <table class="table table-metric table-striped">
                <thead>
                    <tr>
                        <th class="title-sb border-left border-right border-bottom" style="border-top: 4px solid #6999C3; background-color:transparent;">
                            <div class="row">
                                <div class="col">
                                        {{sample['uncertainty']}}
                                </div>
                                <div class="col">
                                        <div class="float-right">0.63</div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col text-r" style="opacity: 0.3">
                                    Uncertainty score
                                </div>

                                <div class="col text-r" style="opacity: 0.3">
                                    <div class="float-right">
                                        Probability
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in sample">
                      <td style="padding-left:100px">
                          {{key}}
                        <span style="opacity: 0.3">= {{value}}</span>
                      </td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>

    <hr>

</div>

</body>



