.spinner-container {
    padding-top: 40px;
    padding-bottom: 36px;
    color: var(--grey-lighten-3);
}

.spinner-container > .spinner {
    width: 3.5rem;
    height: 3.5rem;
}

.jcc {
    display: flex;
    justify-content: center;
}

.dku-grid {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5%;
}

.dku-grid > div {
    flex: 0 0 45%;
    padding-bottom: 5%;
}

.perturbation-design-row {
    border-top: 1px var(--grey-lighten-6) solid;
}

.perturbation-details {
    flex: 1 0 auto;
    padding: 16px 16px 0 16px;
}

.flex {
    display: flex;
}

.row-header {
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
    align-items: center;
}

.row-param {
    align-items: center;
}

.label-text {
    margin-bottom: 0;
}

.control-group input {
    line-height: 20px;
}

.control-group {
    padding-left: 16px;
}

.row--selected {
    background: var(--blue-lighten-5);
}

.perturbation-rows {
    width: 300px;
    border-right: 1px solid var(--grey-lighten-6);
}

.perturbation-row {
    padding: 8px 16px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.perturbation-row:hover {
    background: var(--blue-lighten-4);
}

.perturbation-row + .perturbation-row {
    border-top: 1px solid var(--grey-lighten-6);
}

.text--deactivated {
    color: var(--grey-lighten-4);
}

.switch {
  position: relative;
  width: 50px;
  height: 20px;
  margin-bottom: 0;
  display: inline-block;
}

.switch input {
    display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey-lighten-5);
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 15px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 15px;
}

input:checked + .slider {
  background-color: var(--blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(170%);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'OFF';
 color: white;
 display: block;
 position: absolute;
 transform: translate(0%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana;
}

input:checked + .slider:after
{
  content:'ON';
  transform: translate(-125%, -50%);
}

/*--------- END --------*/

.explanation-box { /* try to keep in sync with DSS .doctor-explanation */
    background: #d9e6ed;
    padding: 20px;
    border-radius: 5px;
    color: #144c71;
    margin-bottom: 24px;
}

.empty-state {
    display: flex;
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    width: 100%;
    padding-top: 16px;
    padding-bottom: 24px;
    color: var(--grey-lighten-3);
}

/* Buttons */

.dku-btn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    padding: 3px 8px;
    margin: 0;
    line-height: 1.4;
    background-image: inherit;
    box-shadow: none;
    text-shadow: none;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
    color: var(--white);
    border: 1px solid var(--grey-lighten-5);
    height: 26px;
    border-radius: 0;
}

.dku-btn:disabled {
    background-color: var(--grey-lighten-6);
    cursor: not-allowed;
    pointer-events: none;
}

.dku-btn:active {
    background-color: var(--grey-lighten-5);
}

.dku-btn-primary {
    background: var(--blue);
    color: var(--white);
    border: 1px solid transparent;
}

.dku-btn-primary:hover {
    background: #62a3f5;
    color: var(--white);
}

.dku-btn-primary--disabled {
    background: #62a3f5;
    cursor: not-allowed;
    pointer-events: none;
}

.dku-btn-primary:active {
    background: #3194fc;
}

.introduction-section {
    padding: 0 16px;
}

.metric-subsection, .sample-subsection {
    padding: 0 16px 24px 16px;
}

.webapp-section + .webapp-section {
  border-top: 1px solid var(--grey-lighten-6);
}

.report-box {
    font-family: var(--font-family);
    font-size: 13px;
    color: var(--grey);
    display: flex;
    justify-content: center;
    padding: 16px;
    margin: 4px;
    background: var(--grey-lighten-7);
}

.webapp-main {
    width: 1100px;
    box-shadow: 0px 0px 2px 1px rgba(34, 34, 34, 0.15);
    background: var(--white);
    height: 100%;
    display: flex;
    flex-direction: column;
}

html {
    background: #f2f2f2;
}

.empty-state__title {
    font-size: 32px;
}

.empty-state__subtitle {
    font-size: 22px;
}

.small-title-sb {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: var(--grey);
}

.title-sb {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.text {
    font-weight: 400;
    line-height: 18px;
    color: var(--grey-lighten-3);
}

.text-lighter {
    color: var(--grey-lighten-4);
}

.text-highlight {
    font-weight: 400;
    font-size: 13px;
    color: var(--grey);
}

.text-r {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.text-sb {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}

.text-button {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    /* @white-base */

    color: #FFFFFF;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
    margin: 10px 0px;
}

.grand-title-sb {
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: var(--grey);
}

table {
  table-layout: fixed;
}

.table-metric {
    text-align: center;
    border-collapse: collapse;
    padding: 0 32px;
    margin: 0 32px;
    width: 100%;
 }

 .table-metric th, .table-sample th {
    padding: 16px 20px;
 }

 .table-metric td {
    padding: 12px 16px;
 }

 .table-sample td {
    padding: 12px 16px 12px 32px;
    border-top: 1px solid var(--grey-lighten-6);
    border-bottom: 1px solid var(--grey-lighten-6);
 }

 .cell {
    border: 1px solid var(--grey-lighten-6);
 }

 .top-cell--blue {
    border-top: 4px solid #1F77b4;
 }

 .top-cell--orange {
    border-top: 4px solid #FF7E0E;
 }

 .top-cell__row {
    justify-content: space-between;
 }

 .fake-cell {
    border-top: hidden;
    border-left: hidden;
 }

/*MODALS*/
.dku-modal-footer {
    height: 30px;
    padding-top: 20px;
}

.dku-button-modal-div {
    float: right;
}

.dku-button-modal {
    font-weight: 450;
    font-family: 'SourceSansPro';
    text-transform: uppercase;
    font-size: 14px;
    padding: 3px 8px;
    line-height: 1.4;
    background-image: inherit;
    box-shadow: none;
    text-shadow: none;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
    color: black;
    border: 1px solid var(--grey-lighten-5);
    height: 26px;
    border-color: transparent;
    background-color: transparent;
    margin: 0;
}

.dku-button-modal:disabled {
    color: var(--grey-lighten-5);
}

.dku-button-modal:enabled:hover {
    color: black;
    background-color: var(--grey-lighten-6);
}

.dku-button-modal:enabled:active {
    color: black;
    background-color: var(--grey-lighten-5);
}

.dku-modal {
    max-height: 360px;
    width: 500px;
    padding: 16px;
    padding-bottom: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--white);
}

.dku-modal-title {
    justify-content: space-between;
}

.dku-modal-body {
    overflow: auto;
    max-height: 250px;
    white-space: pre-line;
    text-align: justify;
    font-size: 14px;

}

.dku-modal-body-error {
    color: var(--error-red);
}

[name=promptForm] {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2px;
    padding-right: 2px;
    min-width: 60%;
    max-width: 80%;
}

.modal-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.dku-title {
    display: flex;
    align-items : center;
    color: var(--grey-lighten-2);
    text-transform: uppercase;
    border-bottom: 1px solid var(--grey-lighten-6);
    padding-bottom: 1%;
    padding-top: 2%;
    margin-bottom: 2%;
    font-size:16px;
    height: 5%;
}
