<div class="webapp__subsection">
    <div class="grand-title-b flex settings-section__header">
        Stress tests
        <help-icon class="small-title-b" help-text="Select the tests corresponding to corruptions you expect to have at deployment time, and assess the robustness of your model"></help-icon>
    </div>
    <form name="forms.SAMPLES" class="settings-subsection__form">
        <div class="control-group settings-subsection__form_field">
            <label for="samples" class="label-text">Samples for stress tests</label>
            <input type="number" id="samples" ng-model="tests.samples" step="0.01" min="0.01" max="1" required>
            <div class="text-tiny">
                Set the proportion of rows used to run the selected stress tests
            </div>
        </div>
    </form>
    <div class="dku-btn-container--right-align">
        <button class="dku-btn dku-btn-primary"
                type="button"
                ng-disabled="loading.results || !checkTestConfig().canRun"
                ng-click="runAnalysis()">
            Run tests
        </button>
    </div>
</div>

<div ng-if="loading.modelInfo" class="webapp__subsection spinner-div">
    <spinner></spinner>
</div>

<div ng-if="!loading.modelInfo && tests.perturbations.PRIOR_SHIFT" class="webapp__subsection">
    <div class="flex small-title-b settings-subsection__header">
        <label class="flex" ng-class="{'text-lighter': !tests.perturbations.PRIOR_SHIFT.$activated}">
            <label class="switch">
                <input type="checkbox" ng-model="tests.perturbations.PRIOR_SHIFT.$activated">
                <div class="slider round"></div>
            </label>
            {{ tests.perturbations.PRIOR_SHIFT.displayName }}
        </label>
        <help-icon help-text="Modifies the target distribution by resampling"></help-icon>
    </div>
    <form name="forms.PRIOR_SHIFT" class="settings-subsection__form" ng-show="tests.perturbations.PRIOR_SHIFT.$activated">
        <div custom-dropdown
             form="forms.PRIOR_SHIFT"
             possible-values="modelInfo.targetClasses"
             item="tests.perturbations.PRIOR_SHIFT.params.cl"
             item-name="class"
             label="Selected class"
             class="settings-subsection__form_field">
        </div>
        <div class="control-group settings-subsection__form_field">
            <label for="priorShift" class="label-text">Desired proportion of samples with selected class</label>
            <input type="number" id="priorShift"
                   ng-model="tests.perturbations.PRIOR_SHIFT.params.samples_fraction"
                   placeholder="0.5" step="0.01" min="0" max="1" required>
        </div>
    </form>
</div>

<div ng-if="!loading.modelInfo" class="webapp__subsection">
    <div class="flex small-title-b settings-subsection__header">
        <label class="flex" ng-class="{'text-lighter': !tests.perturbations.MISSING_VALUES.$activated}">
            <label class="switch">
                <input type="checkbox" ng-model="tests.perturbations.MISSING_VALUES.$activated">
                <div class="slider round"></div>
            </label>
            {{ tests.perturbations.MISSING_VALUES.displayName }}
        </label>
        <help-icon help-text="Randomly inserts missing values"></help-icon>
    </div>
    <form name="forms.MISSING_VALUES" class="settings-subsection__form" ng-show="tests.perturbations.MISSING_VALUES.$activated">
        <div custom-dropdown
             form="forms.MISSING_VALUES"
             possible-values="tests.perturbations.MISSING_VALUES.availableColumns"
             items="tests.perturbations.MISSING_VALUES.selected_features"
             item-name="feature"
             item-image="featureToTypeIcon"
             label="Corrupted features"
             class="settings-subsection__form_field">
        </div>
        <div class="control-group settings-subsection__form_field">
            <label for="missingValues" class="label-text">Proportion of corrupted samples</label>
            <input type="number" id="missingValues"
                   ng-model="tests.perturbations.MISSING_VALUES.params.samples_fraction"
                   placeholder="0.5" step="0.01" min="0.01" max="1" required>
        </div>
    </form>
</div>

<div ng-if="!loading.modelInfo" class="webapp__subsection">
    <div class="flex small-title-b settings-subsection__header">
        <label class="flex" ng-class="{'text-lighter': !tests.perturbations.SCALING.$activated}">
            <label class="switch">
                <input type="checkbox" ng-model="tests.perturbations.SCALING.$activated">
                <div class="slider round"></div>
            </label>
            {{ tests.perturbations.SCALING.displayName }}
        </label>
        <help-icon help-text="Changes the order of magnitude of each feature by some random scaling"></help-icon>
    </div>
    <form name="forms.SCALING" class="settings-subsection__form" ng-show="tests.perturbations.SCALING.$activated">
        <div custom-dropdown
             form="forms.SCALING"
             possible-values="tests.perturbations.SCALING.availableColumns"
             items="tests.perturbations.SCALING.selected_features"
             item-name="feature"
             item-image="featureToTypeIcon"
             label="Corrupted features"
             class="settings-subsection__form_field">
        </div>
        <div class="control-group settings-subsection__form_field">
            <label for="scaling" class="label-text">Proportion of corrupted samples</label>
            <input type="number" id="scaling"
                   ng-model="tests.perturbations.SCALING.params.samples_fraction"
                   placeholder="0.5" step="0.01" min="0" max="1" required>
        </div>
    </form>
</div>
